.ticketheader{
    background-image: url(images/conference-hero.jpg);
    /* opacity: 0.9; */
    text-align: center;
}
.ticketimg{
    
    padding-top: 50px;
    display: inline-block;
    overflow: auto;
    width: 20%;
}
a{
    text-decoration: none;
}
.tp{
color: #fff;
}

.tfooter{
    text-align: center;
    display: inline-block;
    width: 400px;
    height: auto;
    position: relative;
    top: 0px;
    bottom: 10px;
    left: 35%;
    right: 30%;
    background-color: rgb(236, 233, 233);
    border:  #ddd solid;
    border-left: 0px solid;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top: 0px;
}
/* css design for the index page */
.indexheader{
    background-image: url(images/conference-hero.jpg);
    text-align: center;
    height: auto;
    width: auto;
    margin: 0px;
    color: #fff;
    
   


}
#list{
    background-color: #ccc ;
     margin-top: 0px;
      padding: 30px; 
    border: 1px solid rgb(187, 187, 187)
}
.indeximg{
    display:inline-block;
    padding: 5px;
    width: 250px;
    height: 250px;
    
     border: 5px solid #eee;
    image-orientation: from-image;
     border-radius: 100%;
     margin-top: 50px;
     margin-bottom: 0px;
    
     background-size: cover;
}
body{
    background-color: #eee;
    margin-bottom: 0px;
    font-size: 18px;
}


.table1{
    background-color: #bbb;

}
.footer{
    background-color: #bbb;
    padding-left: 1%;
    margin: 0;
    border:20px solid #bbb;
}
.day1{
    
    width:49%;
    float: left;
    
    border-right: solid 1px #bbb;
    border-top: solid 1px #bbb;
}
.day2{
    
   width: 49%;
    float: right;
    border-left: solid 1px #bbb;
    border-top: solid 1px #bbb;

}
.img1{
    float: left;
    margin-right: 40px;
}
.img2{
    float: left;
    margin-right: 40px;
}

.text{
    text-align: center;
    letter-spacing: 1px;
    font-family:   serif;
    font-weight: bolder;
}

.h3{
    padding-top:150px 
}


.sec{
    display: inline-block;
    background-color: rgb(240, 238, 238);
    overflow: auto;

}
.tbg{
    background-color: #ccc;
}

    table1{
        
        text-transform: capitalize;
        text-align: center;
        height: 50%;
        padding: 0px 200px 30px 200px;
        word-spacing: 1px;
    }
table td,th{
    border:30px solid  red transparent;
    border-radius: 4px;
    padding: 10px;

}
.tr1{
    background-color: #aaa;
}
.tr2,.tr3,.tr4{
    background-color: #eee;

}
td:hover{
    background-color: #fff;
    font-size: large;
    font-weight:bolder ;
}
a:active{
    font-family: cursive;
    color: black;


}
.button{
    color:#fff ;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10%;
    background-color: rgb(109, 171, 241);
    display: inline-block;
    padding: 5px 30px 5px 30px;
}
img{
    margin: 15px 15px 15px 40px;
    border-radius: 100%;
    
}
img:hover{
    border: 2px solid #aaa;
    
}
.img2+p{
    padding-top: 50px;
}

.img1+p{
    padding-top: 50px;
}
 
footer{
    text-align: center;
}
/* input decorations */
.input{
    padding:4px;
    width: 300px;
    height: 30px;
    margin: 2px;
}
.submit{
    width: 90px;
    height: auto;
    padding: 5px;
    background-color: rgb(109, 171, 241);
    font-weight: bold;
    color: #fff;
}
.input:active{
    border: 4px solid #bbb;
    background-color: #aaa;

}

p{
    line-height: 1.4rem;
}
@media(max-width:768px){
    
    .ticketheader{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        align-content: center;
        background-image: url(images/conference-hero.jpg);
        vertical-align: auto;
        text-align: center;
    }
    .ticketimg{
        
        padding-top: 500px;
        display: flex;
        
    }
    .indeximgpack{
        display: flex;
        align-self: center;
    }
    img{
        display: none;
        float: none;
        
    }
    .table1{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        
    }
    section{
        display: flex;
        float: none;
    }
    .day1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        border: none;
    
        width: 100%;
        padding: 0px;
    }
    .day2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
  
        width: 100%;
       border: none;
    }
    .indeximg{
        display: flex;
        margin: 0 auto;
        height: auto;
        
    }
    p{
        padding: 0x;
        margin-bottom: 0px;
    }

    div{
        padding: 0px;
        margin: 0px;
    }
    .footer{
        margin-top: 10px;
    }
    .ul{
        display: flex;
        flex-basis: 30%;
        flex-grow: 1;
        flex-wrap: wrap;
        flex-shrink: 1;
        list-style-type: none;
        justify-content: flex-end;
        
    }
    
    .ul1{
        display: flex;
        flex-basis: 15%;
        flex-shrink: 1;
    }
    .ul2{
        display: flex;
        flex-basis:15%;
        flex-shrink: 1;
         
         
        
    }
    .navbutton,body{
        color: rgb(20, 3, 3)
    } 
    body{
        font-size: 20px;
        font-family: cursive;
        padding:10px 0 ;
    }
    #list{
        display: flex;
        flex-direction: column;
          align-items: center;
          border: 3px dotted rgb(179, 169, 172);
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
    li strong{
        font-weight: 900;
        font-size: 30px;
        padding-right: 3px;
        
    }
    .ulstyle{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        flex-grow: 0;
        list-style: none;
        align-items: center;
    }
    .whattoexpect{
        font-size: 30px;
    }
    .floater{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        padding-top: 0px;
         
    }
    .h3{
        display: flex;
         padding: 0px;
         margin: 0%;
    }
}
